/*reset*/

*{
    margin: 0;
    padding: 0;
}

/* estilos de inicio */

.main-inicio{

    .banner-inicio{
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    background-color: rgb(25, 45, 45);
    }
    h1{
    margin: 2rem;
    }
    

}

/* estilos de nosotros */

.main-nosotros{
    text-align: center;
    margin: 2rem;
    .video-uno{
        margin-bottom: 1rem;
    }
    .imagenes-todas{
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
    }
}

/* estilos de contacto */

.main-contacto{
    .section-contacto{
        margin: 3rem;
        div{
            margin: 1rem;
        }
        span{
            font-size: large;
        }
        .form{
            margin: 1rem;
        }
    }

}


    




